<!-- back ground settings -->

.header {
  
  padding: 70px;
  border: 5px solid #4CAF50;
  margin: 70px;
  border: 1px solid #4CAF50;
}

#end{
  width: 25%;
}
#centerbanner{
  width: 75%;
  height: 30%;
}
#myDiv {
  margin: 1px;
  border: 3px solid #0c0c0e;
  background-image: url("images/wdcounter.jpeg");
  padding: 10px;
  width: 75%;
  height:100%;
  align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

body {
  background-color: lightblue;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style for iframe left side  menu */
#myFrame{
  height: "500";
  width: "700";
}

.myDiv2{
padding: 70px;
  height: 90%;
  width: 50%
}

/* invoice table formating*/
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 30%;
}

td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/* invoice Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}
/*-----------------------------*/
#menu{
  background-image: url("images/vegbg.jpeg");
  background-repeat: no-repeat;
}
#menuDisplay{
  padding: 70px;
  height: 90%;
  width: 100%
  border: 50px solid black;
}
#menuSection{
  height: 90%;
  width: 90%
    border: 50px solid black;
}
